body {
    padding-left: 11em;
    font-family: Consolas, monaco, monospace;
    background-color: #5b826d;
    color: purple;
}

/* Dark mode */
body.dark-theme {
    background-color: black;
    color: white;
}

ul.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 2em;
    left: 1em;
    width: 10em;
}

h1 {
    font-family: Consolas, monaco, monospace;
}

ul.navbar li {
    background: white;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid black;
}

a:link {
    color: blue;
}

a:visited {
    color: purple;
}

ul.navbar a {
    text-decoration: none;
}

address {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted;
}

pre.mermaid {
    white-space: normal;
}
