body {
    font-family: Consolas, monaco, monospace;
    background-color: #5b826d;
    color: purple;
}

/* Dark mode */
body.dark-theme {
    background-color: black;
    color: white;
}

h1 {
    font-family: Consolas, monaco, monospace;
}

a:link {
    color: blue;
}

a:visited {
    color: purple;
}

address {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted;
}

pre.mermaid {
    white-space: normal;
}
