ul.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    top: 0;
    width: 100%;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    display: inline-table;
}

ul.navbar > li {
    float: left;
    background-color: inherit;
    border-right: 1px solid #bbb;
}

ul.navbar > li:last-child {
    border-right: none;
}

ul.navbar a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.navbar a.active {
    color: white;
    background-color: #04aa6d;
}

ul.navbar a:hover:not(.active) {
    background-color: #ddd;
}

/* Dark mode */
/* stylelint-disable no-descending-specificity */
body.dark-theme ul.navbar {
    background-color: #333;

    a {
        color: white;
    }

    a.active {
        background-color: #04aa6d;
    }

    a:hover:not(.active) {
        background-color: #111;
    }
}
/* stylelint-enable no-descending-specificity */

ul.navbar .dropdown {
    position: relative;
    display: block;
}

ul.navbar .dropdown-content {
    display: none;
    padding: 0;
    position: absolute;
    background-color: inherit;
    width: 100%;
    overflow: hidden;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

ul.navbar .dropdown:hover .dropdown-content {
    display: block;
}

ul.navbar .dropbtn {
    padding: 14px 0;
    width: 100%;
}
